<section data-ng-controller="ArticlesController" data-ng-init="initEdit()">
    <div class="page-header">
        <h1>编辑卡片</h1>
    </div>
    <div class="col-md-12" id="dropzone">
        <form action="/articles/upload" class="dropzone" id="file-upload">
            <div class="dz-message">
                上传替换图片(拖拽或点击)。
            </div>
        </form>
    </div>
    <div class="col-md-12">
        <form name="articleForm" class="form-horizontal" data-ng-submit="update(articleForm.$valid)" novalidate>
            <fieldset>
                <div class="form-group text-center">
                    <div class="controls">
                        <img ng-src="uploads/{{article.thumb}}" height="300">
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : submitted && articleForm.title.$invalid}">
                    <label class="control-label" for="title">卡片名称</label>
                    <div class="controls">
                        <input name="title" type="text" data-ng-model="article.title" id="title" class="form-control" placeholder="Title" required>
                    </div>
                    <div ng-show="submitted && articleForm.title.$invalid" class="help-block">
                        <p ng-show="articleForm.title.$error.required" class="text-danger">卡片名称不可为空。</p>
                    </div>
                </div>
                <!--
                <div class="form-group" ng-class="{ 'has-error' : submitted && articleForm.keyword.$invalid}">
                    <label class="control-label" for="keyword">搜索关键字</label>
                    <div class="controls">
                        <input name="keyword" type="text" data-ng-model="article.keyword" id="keyword" class="form-control" placeholder="keyword" required>
                    </div>
                    <div ng-show="submitted && articleForm.keyword.$invalid" class="help-block">
                        <p ng-show="articleForm.keyword.$error.required" class="text-danger">搜索关键字不可为空。</p>
                    </div>
                </div>
                -->
                <div class="form-group" ng-class="{ 'has-error' : submitted && articleForm.link.$invalid}">
                    <label class="control-label" for="link">链接地址</label>
                    <div class="controls">
                        <input name="link" type="text" data-ng-model="article.link" id="link" class="form-control" placeholder="link">
                    </div>
                    <div ng-show="submitted && articleForm.link.$invalid" class="help-block">
                        <p ng-show="articleForm.link.$error.required" class="text-danger">搜索关键字不可为空。</p>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : submitted && articleForm.content.$invalid}">
                    <label class="control-label" for="content">卡片描述</label>
                    <div class="controls">
                        <textarea name="content" data-ng-model="article.content" id="content" class="form-control" cols="30" rows="10" placeholder="Content" required></textarea>
                    </div>
                    <div ng-show="submitted && articleForm.content.$invalid" class="help-block">
                        <p ng-show="articleForm.content.$error.required" class="text-danger">卡片描述不可为空。</p>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="更新" class="btn btn-default">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>
