<section data-ng-controller="ArticlesController" data-ng-init="find()">
    <br>
    <div class="row">
        <div class="col-xs-6 col-md-3 full-card" data-ng-repeat="article in articles | filter:$root.csearch">
            <a class="card" data-ng-href="#!/articles/{{article._id}}">
                <div class="card-body">
                    <div class="text-center card-img">
                        <img ng-src="uploads/{{article.thumb}}" data-ng-if="article.thumb!==''">
                        <img src="http://placehold.it/200x100&text=none" data-ng-if="article.thumb===''">
                    </div>
                    <div class="text-left card-content">
                        <pre data-ng-bind="article.content"></pre>
                    </div>
                    <div class="text-center card-link">
                        <p data-ng-show="article.link!==''">
                        	<a class="btn btn-default btn-xs" href="http://{{article.link}}" target="_blank" role="button">去看看...</a>
                        </p>
                    </div>
                </div>
                <div class="card-title">
                    <span data-ng-bind="article.title"></span>
                </div>
            </a>
        </div>
    </div>
    <div class="alert alert-warning text-center" data-ng-if="articles.$resolved && !articles.length">
        No articles yet, why don't you <a href="/#!/articles/create">create one</a>?
    </div>
</section>

